<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробнее про статью</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
    <h1>Подробнее про статью</h1>
    <div th:each="el:${post}">
      <h3>Подробнее про статью</h3> <h3 th:text="${el.title}"></h3>
      <p th:text="${el.anons}"></p>
      <p th:text="${el.full_text}"></p>
      <a th:href="'/blog/' + ${el.id}  + '/edit'">Редактировать</a>
      <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
        <button type="submit" class="btn btn-del">Удалить</button>
      </form>
    </div>
</content>
    <script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>