<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование статьи</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
    <h1>Редактирование статьи</h1>
<div th:each="el:${post}">
  <form method="post">
    <input type="text" th:value="${el.title}" name="title" placeholder="Введите название статьи">
    <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите анонс статьи">
    <textarea name="full_text" placeholder="Введите текст статьи" th:text="${el.full_text}"></textarea>
    <br>
    <button type="submit">Сохранить изменения</button>
  </form>
</div>
</content>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>