<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фильтрация пользователей</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
<h2>Фильтрация пользователей</h2>

<form method="post" th:action="${'/blog/filter1/result1'}">
  <input type="text" name="login">
  <button type="submit">Найти</button>
  <div th:each="el : ${result}">
    <h3>Точный поиск</h3>
    <h3 th:text="${el.login}"></h3>
    <p th:text="${el.password}"></p>
    <p th:text="${el.email}"></p>
      <p th:text="${el.age}"></p>
      <p th:text="${el.iq}"></p>
  </div>
  <h3>Не точный поиск</h3>
  <div th:each="el : ${result1}">
    <h3 th:text="${el.login}"></h3>
    <p th:text="${el.password}"></p>
    <p th:text="${el.email}"></p>
    <p th:text="${el.age}"></p>
    <p th:text="${el.iq}"></p>
  </div>
</form>
</content>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>