<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
<form th:action="${'/blog/adduser'}" method="post">
  <p><input type="text" name="login" placeholder="Введите логин"></p>
  <p><input type="text" name="password" placeholder="Введите пароль"></p>
  <p><input type="text" name="email" placeholder="Введите email"></p>
  <p><input type="text" name="age" placeholder="Введите возраст"></p>
  <p><input type="text" name="iq" placeholder="Введите IQ"></p>
  <br>
  <button type="submit">Добавить пользователя</button>
</form>
</content>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>