<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
<h1>Все статьи</h1>
</content>
<p><a href="/blog/filter">Поиск статей</a></p>
<p><a href="/blog/add">Добавить статью</a></p>
<p><a href="/blog/adduser">Добавить пользователя</a></p>
<p><a href="/blog/filter1">Поиск пользователей</a></p>
<p><a href="/blog/addavto">Добавить автомобиль</a></p>
<p><a href="/blog/filter2">Поиск автомобилей</a></p>
<div th:each="el : ${posts}">
    <h3 th:text="${el.title}"></h3>
    <p th:text="${el.anons}"></p>
    <br>
    <a th:href="'/blog/' + ${el.id}">Подробнее</a>
</div>
<div th:each="el : ${users}">
    <h3 th:text="${el.login}"></h3>
    <br>
    <a th:href="'/blog/user/' + ${el.id}">Подробнее</a>
</div>
<div th:each="el : ${avtos}">
    <h3 th:text="${el.name}"></h3>
    <br>
    <a th:href="'/blog/avto/' + ${el.id}">Подробнее</a>
</div>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>